{{ $id := .Get "id" }}
{{ $type := .Get "type" | default "youtube" }}
{{ $autoplay := .Get "autoplay" | default "false" }}
{{ $poster := .Get "poster" | default "" }}
{{ $class := .Get "class" | default "plyr-player" }}
{{ $captions := .Get "captions" | default "" }}
{{ $captionsLang := .Get "captionsLang" | default "en" }}
{{ $captionsLabel := .Get "captionsLabel" | default "English" }}
{{ $tracks := .Get "tracks" | default "" }}
{{ $previewThumbnails := .Get "previewThumbnails" | default "" }}
{{ $chapters := .Get "chapters" | default "" }}
{{ $quality := .Get "quality" | default "" }}
{{ $speed := .Get "speed" | default "true" }}
{{ $loop := .Get "loop" | default "false" }}
{{ $hideControls := .Get "hideControls" | default "false" }}
{{ $muted := .Get "muted" | default "false" }}
{{ $clickToPlay := .Get "clickToPlay" | default "true" }}

<div class="{{ $class }}" 
     data-type="{{ $type }}" 
     data-plyr-config='{"speed": { "selected": 1, "options": [0.5, 0.75, 1, 1.25, 1.5, 1.75, 2] }, "quality": {{ if ne $quality "" }}{ "default": "{{ $quality }}", "options": ["4K", "2K", "1080p", "720p", "576p", "480p", "360p"] }{{ else }}{}{{ end }} }'>
    
    {{- if eq $type "youtube" -}}
    <div class="plyr__video-embed">
        <iframe
            src="https://www.youtube.com/embed/{{ $id }}?iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1&widgetid=1"
            allowfullscreen
            allowtransparency
            allow="autoplay"
        ></iframe>
    </div>
    {{- else if eq $type "vimeo" -}}
    <div class="plyr__video-embed">
        <iframe
            src="https://player.vimeo.com/video/{{ $id }}?loop={{ if eq $loop "true" }}1{{ else }}0{{ end }}&byline=false&portrait=false&title=false&speed=true&transparent=0&gesture=media"
            allowfullscreen
            allowtransparency
            allow="autoplay"
        ></iframe>
    </div>
    {{- else -}}
    <video 
        controls 
        {{ if eq $autoplay "true" }}autoplay{{ end }}
        {{ if eq $loop "true" }}loop{{ end }}
        {{ if eq $muted "true" }}muted{{ end }}
        {{ if ne $poster "" }}poster="{{ $poster }}"{{ end }}
        {{ if ne $previewThumbnails "" }}data-poster-thumbnails="{{ $previewThumbnails }}"{{ end }}
        crossorigin="anonymous">
        
        {{/* Handle multiple quality sources if provided */}}
        {{ if ne $quality "" }}
            {{ $qualities := split $quality "," }}
            {{ $sources := split $id "," }}
            
            {{ range $index, $quality := $qualities }}
                {{ $source := index $sources $index }}
                <source src="{{ $source }}" type="video/mp4" size="{{ $quality }}" />
            {{ end }}
        {{ else }}
            <source src="{{ $id }}" type="video/mp4" />
        {{ end }}
        
        {{/* Add subtitles/captions if provided */}}
        {{ if ne $captions "" }}
            <track kind="captions" label="{{ $captionsLabel }}" src="{{ $captions }}" srclang="{{ $captionsLang }}" default />
        {{ end }}
        
        {{/* Add extra tracks if provided (comma separated) */}}
        {{ if ne $tracks "" }}
            {{ $trackURLs := split $tracks "," }}
            {{ $trackLabels := split (.Get "trackLabels" | default "") "," }}
            {{ $trackLangs := split (.Get "trackLangs" | default "") "," }}
            {{ $trackKinds := split (.Get "trackKinds" | default "") "," }}
            
            {{ range $index, $track := $trackURLs }}
                {{ $label := "" }}
                {{ if gt (len $trackLabels) $index }}
                    {{ $label = index $trackLabels $index }}
                {{ else }}
                    {{ $label = printf "Track %d" (add $index 1) }}
                {{ end }}
                
                {{ $lang := "" }}
                {{ if gt (len $trackLangs) $index }}
                    {{ $lang = index $trackLangs $index }}
                {{ else }}
                    {{ $lang = "en" }}
                {{ end }}
                
                {{ $kind := "" }}
                {{ if gt (len $trackKinds) $index }}
                    {{ $kind = index $trackKinds $index }}
                {{ else }}
                    {{ $kind = "captions" }}
                {{ end }}
                
                <track kind="{{ $kind }}" label="{{ $label }}" src="{{ $track }}" srclang="{{ $lang }}" />
            {{ end }}
        {{ end }}
        
        {{/* Add chapters if provided */}}
        {{ if ne $chapters "" }}
            <track kind="chapters" label="Chapters" src="{{ $chapters }}" srclang="en" />
        {{ end }}
    </video>
    {{- end -}}
</div>

{{ with .Inner }}
<div class="plyr-custom-info">
    {{ . | markdownify }}
</div>
{{ end }}